{{page-title "Esteamay"}}
{{ui-icon-sprite}}

<div class="tw-flex tw-justify-between tw-items-center tw-mx-16">
  <UiHeading @text="Esteamay" @level={{1}} />
  <UiHeading @text="JIRA Planning Poker Tool" @level={{4}} />
</div>
{{ui-divider}}

<div class="tw-mx-16">
  {{outlet}}
</div>
