{{page-title "Esteamay"}}
{{ui-icon-sprite}}

<div class="tw-flex tw-justify-between tw-items-center tw-mx-16">
  <a href="/" class="tw-mr-6"><UiHeading @text="Esteamay" @level={{1}} /></a>
  <UiHeading @text="JIRA Planning Poker Tool" @level={{5}} />
</div>
{{ui-divider}}

<div class="tw-mx-16">
  {{outlet}}
</div>
